@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#menu{
    display: none;
}
.hamburger{
    display: none;
}
 .hero{
    background-image: linear-gradient(rgb(0, 0, 0,0.7),rgb(0,0,0,0.7)),url(swween.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
} 
.nav-brand img{
    width: 89px;
    max-width: 100%;
    height: auto;
}
.nav-brand{
    display: flex;
    align-items: center;
    gap: 0.5em;
   
 }
 .nav-brand h2{
    color: white;
    font-family: Cinzel, serif;
    font-weight: 750;
    font-size:clamp(1.3rem,2.5vw,2.2rem) ;
    letter-spacing: 0.05rem;
 }
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
}
.nav-links a{
    
    text-decoration: none;
    color:#F9FAFB;
    font-family: poppins,sans-serif;
    font-weight: 500;
    font-size:1rem ;
}
.nav-links a:hover{
    color: #F59E0B;
    transition: 0.3s;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.5em clamp(1rem,1.5vw,4rem);
    background-color: rgba(0, 0, 0, 0.256);
   position: sticky;
   top: 0px;
   backdrop-filter: blur(10px);
   z-index: 1000;
}
.hero-content{
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;

}
.hero-content h2{
    color: white;
    font-family: merriweather;
    font-weight: 700;
    font-size: clamp(2rem,4.5vw,3.8rem);
    text-align: center;
   
    

}
.hero-content p{
    color: #E5E7EB;
    font-family: poppins;
    font-weight: 500;
    line-height: 1.7;
    max-width: 38rem;
    margin-inline: auto;
    font-size: clamp(1rem,1.57vw,1.7rem);
    text-align: center;
}
.hero-btn{
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    flex-wrap: wrap;
    
}
.hero-btn a{
   border: 0.1px solid rgb(255, 255, 255);
   text-decoration: none;
   padding: 1rem;
   color: white;
   font-family: poppins;
}
.hero-btn a:hover{
    background: #F59E0B;
    transition: 0.3s;
    box-shadow: 2px 2px 8px #F59E0B;
}

.statbar{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem clamp(1rem,4vw,6rem);
    background: linear-gradient(135deg, #F59E0B,#D97706);
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    
}
.stat-item{
       text-align: center;
       flex: 1 1 180px;
       font-family: merriweather;

}
.stat-item h3{
    font-size: clamp(1.6rem,4vw,2rem);
}
.aboutus{
   padding:  clamp(3rem, 6vw, 6rem) clamp(1.2rem, 5vw, 6rem);
   background-color: #0F172A;
}
.aboutus img{
    width: 100%;
    max-width: 480px;
    height: auto;
    border-radius: 0.50rem;
    object-fit: cover;
    object-position: center;
}
.aboutus-heading{
    text-align: center;
    margin-bottom: 3.5rem;
    
}
.aboutus-heading h2{
    font-family: cinzel;
    letter-spacing: 0.08em;
    font-size: clamp(1.6rem,3vw,2rem);
    font-weight: 700;
   
    color: #F9FAFB;

}

.aboutus-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-inline: auto;
    align-items: center;
    margin-top: 0.4rem;
    align-self: center;
}
.aboutus-heading h2::after{
    content: '';
    height: 4px;
    width: 50px;
    border-radius: 0.38em;
    display: block;
    background-color: #e0943d;
    margin-inline: auto;
    margin-top: 0.5rem;
    
}
.aboutus-heading p{
    font-style: italic;
   
    font-size: clamp(1rem,1.6vw,1.2rem);
    font-weight: 500;
    color: #E5E7EB; 
    margin-inline: auto;
    margin-top: 0.2rem;

}
.imagecontent-highlight{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.aboutus-imagecontent p{
    font-family: poppins;
    margin-bottom: 1rem;
    font-weight: 400;
    color: #F9FAFB;
    font-size: clamp(1rem,2vw,1.45rem);

}
.imagecontent-highlight h2{
    display: flex;
    align-items: center;
    justify-content: center;
   text-align: center;
    font-family: merriweather;
    font-size: clamp(0.9rem,1.9vw,1.2rem);
    box-shadow: 0px 2px 20px rgba(15, 23, 42, 0.9);
    background-color:rgba(38, 48, 71, 0.504);
    padding: 0.8rem 1rem;
    border-left:5px solid #e0943d;
    border-radius: 0.45rem;
    color: #F9FAFB;
}
.courses{
     padding:  clamp(3rem, 6vw, 6rem) clamp(1.2rem, 5vw, 6rem);
      background-color: rgba(15, 23, 42, 0.921);
}
.section-heading{
    text-align: center;
    margin-bottom: 3.5rem;

    
}
.section-heading h2{
     font-family: cinzel;
    letter-spacing: 0.08em;
    font-size: clamp(1.6rem,3vw,2rem);
    font-weight: 700;
    color: #ffffff;
   

}
.section-heading p{
    font-style: italic;
    margin-inline: auto;
    margin-top: 0.2rem;
    font-size: clamp(1rem,1.6vw,1.2rem);
    font-weight: 500;
    color: #E5E7EB;
    margin-top: 0.3rem;
}
.section-heading h2::after{
    content: '';
    background-color: #e0943d;
    height: 4px;
    width: 70px;
    display: block;
    margin-inline: auto;
    margin-top: 0.5rem;
    border-radius: 0.38rem;

}
.courses-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 3rem;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    
}
.course-card{
    border: 1px solid rgba(0, 0, 0, 0.665);
    padding: 2rem 1.8rem;
    background-color: rgba(15, 23, 42, 0.7);
    border-radius: 0.6rem;
   
}
.course-icon{
    border: 1px solid black;
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.38rem;
    margin-bottom: 2.6rem;
    color: #F59E0B;
    background-color: rgba(245, 158, 11, 0.2);
    
}
.course-card h3{
    font-family: merriweather;
    font-size: 1.35rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-bottom: 0.7rem;
    line-height: 1.5;
    color: #ffffff;
}
.course-card p{
    font-family: poppins;
    font-size: 0.92rem;
    margin-bottom: 1.3rem;
    color: rgba(255, 255, 255, 0.7);
    

}
.course-card .course-link{
    text-decoration: none;
    color: #e0943d;
    font-family: poppins;
}
.admission{
    padding:  clamp(3rem, 6vw, 6rem) clamp(1.2rem, 5vw, 6rem);
      background-image: linear-gradient(rgb(0, 0, 0,0.7),rgb(0,0,0,0.7)),url(swween.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.admission-content h2{
    font-family: merriweather;
    
    font-size: clamp(1.6rem,3.5vw,2.5rem);
    font-weight: 700;
    color: white ;
   
   
    
}
.admission-content > p{
       font-family: poppins;
      margin-top: 1rem;
      margin-bottom: 2.2rem;
      margin-inline: auto;
    max-width: 550px;
    font-size: clamp(1rem,1.5vw,2rem);
    font-weight: 500;
    color: #E5E7EB;
    
}
.admission-content{
    text-align: center;
    max-width: 1000px;
    margin-inline: auto;

}
.admission-steps{
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax(200px,1fr));
   
    gap: 3rem;
}
.step h4{
    font-family: poppins;
    margin-bottom: 0.5rem;
    color: white;

}
.step p{
    font-family: poppins;
    font-size: clamp(0.8rem,1.4vw,1.2rem);
    color: #e5e7ebe5;
}
.step-number{
    font-family: cinzel;
    font-size: 20px;
    font-weight: 700;
    margin-inline: auto;
    margin-bottom: 1rem;
    width: 45px;
    height: 45px;
    box-shadow: 0px 2px 9px #F59E0B ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(135deg, #F59E0B,#D97706);
}
.btn-primary{
    display: inline-block;
   text-decoration: none;
   font-family: poppins;
   margin-top: 3rem;
  
   padding: 1rem 2rem;
   border-radius: 1.5rem;
    background: linear-gradient(135deg, #F59E0B,#D97706);
    color: black;
    font-size:700;

}
.btn-primary:hover{
   box-shadow: 0px 2px 9px #F59E0B;
    transform: translateY(-2px);
    transition: 0.3s;
}
.contact {
    padding:  clamp(3rem, 6vw, 6rem) clamp(1.2rem, 5vw, 6rem);
    background-color: #0F172A;
}
.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;
    max-width: 1100px;
    margin-inline: auto;
    align-items: start;
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.info-card {
    background: #3245745c;
    padding: 1.5rem;
    border-radius: 0.38rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    border-left: 3px solid  #F59E0B;
    transition: var(--transition);
    color: white;
}
.info-card:hover {
    transform: translateX(5px);
    background: rgba(245, 158, 11, 0.05);
}
.info-card .material-symbols-outlined {
    color: #F59E0B;
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
}
.info-card h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}
.info-card p {
    font-size: 0.9rem;
    color: white;
    line-height: 1.6;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem 1.2rem;
    background: #3245745c;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 0.38rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
    transition: var(--transition);
    outline: none;
}

@media (max-width:768px){
    .hero-content{
        
        padding-inline: 1.5rem;
    }
    .nav-brand{
       
       
    }
    .nav-brand h2{
        line-height: 1;
    }
    .nav-links{
        align-items: flex-start;
        
        max-height: 0px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: #0f172af7;
        gap: 2.1rem;
    }
   .nav-links li{
    width: 100%;
   }
   .nav-links a{
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 20px;
   }
    .hamburger{
        display: block;
        cursor: pointer;
        margin-left: auto;
        
        
    }
    .navbar{
       position: relative;
        flex-wrap:wrap ;
        position: sticky;
   top: 0px;
       
    }
    .hamburger::before{
        content: "☰";
        color: whitesmoke;
        font-size: 35px;
        
    }
    #menu:checked + .nav-brand  + .hamburger::before{
        content: "x";
        color: whitesmoke;
        font-size: 45px;
    } 
    #menu:checked ~ .nav-links{
        display: flex;
      max-height: 450px;
       flex-direction: column;
       width: 100%;
       transition: 0.4s ease-in;
      
       
    }
    .aboutus-content{
        display: grid;
        grid-template-columns: 1fr;
    }
    .aboutus-image{
        display: flex;
        justify-content: center;
    }
     .form-row {
        grid-template-columns: 1fr;
    }
      .contact-wrapper {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .contact-info {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .info-card {
        flex: 1 1 200px;
    }

}
